@import './settings/colors';


.container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 920px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
  padding: 80px;
  padding-top: 40px;

  @media (max-width: 800px){
    width: 100%;
    padding: 10px;
  }
}