.modal{
  display: none;
  position: fixed;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border-right: 5px solid $brown;
  box-shadow: $shadow;
  background-color: cornsilk;
  bottom: 30px;
  left: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  color: rgb(6, 94, 6);
  z-index: 2000;

  img{
    width: 20px;
    margin-right: 10px;
  }
}

.activeModal {
  display: flex;
  z-index: 10000;
  animation: slide .3s, fade .3s 1.7s forwards;
}

@keyframes slide {
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes fade{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.delModal{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $bege;
    width: 250px;
    height: 110px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    
    p{
      font-size: 12px;
    }

    .btn-container{
      display: flex;
      justify-content: space-around;
      width: 90%;
      padding: 10px;
      margin-top: 8px;
      
      .del-btn, .cancel-btn{
        display: inline-block;
        width: 80px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.8px;
        padding: 0 5px;
        cursor: pointer;
        border-radius: 5px;
        
        &:hover{
          opacity: 0.8;
        }
      }

      .del-btn{
        background-color: $green;
      }

      .cancel-btn{
        background-color: $brown;
      }
    }
}

.delActive{
  display: flex;
  animation: showDelModal .3s forwards;
}


@keyframes showDelModal {
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}